section.experience 
    .container  
        .row.text-center 
            h2.w-100 Experience and Education
            each eduItem in eduList
                .col-md-6.col-12.text-left 
                    +cardCustom(eduItem.image, none, none, eduItem.title, eduItem.des, eduItem.alt,"" ,eduItem.sub)        
            
