section.price 
    .container
        .row.text-center 
            h2.w-100 Pricing and Rates
            each priceItem in priceCard
                .col-md-4.col-12.my-4 
                    +cardText(priceItem.price, priceItem.dram, priceItem.title, priceItem.des, priceItem.sub,priceItem.color)      