-
    var menuNav = ["About", "Skills", "Experience", "Work", "Pricing", "Reviews", "Blog", "Contact"]
-
    var iconBanner =["fab fa-2x fa-twitter", "fab fa-2x fa-facebook-f", "fab fa-2x fa-instagram", "fab fa-2x fa-pinterest-p"]
