-
    var menuNav = ["About", "Skills", "Experience", "Work", "Pricing", "Reviews", "Blog", "Contact"]
-
    var iconBanner = [
        "fab fa-2x fa-twitter", 
        "fab fa-2x fa-facebook-f", 
        "fab fa-2x fa-instagram", 
        "fab fa-2x fa-pinterest-p"]
-
    var countList = [
        {image:"/assets/img/projects.png",alt:"count image", title:"4,154+", des:"Projects Done", color:"text--purple"},
        {image:"/assets/img/total.png",alt:"count image", title:"2,072", des:"Total Clients",color:"text--orange"},
        {image:"/assets/img/repeat.png",alt:"count image", title:"1,281+", des:"Repeat Clients",color:"text--red"},
        {image:"/assets/img/awards.png",alt:"count image", title:"357", des:"Awards Won",color:"text--yellow"}
    ]
-
    var skillList = [

        {image:"/assets/img/ux.png", alt:"skill image", title:"UI/UX Design", des:"Tell the world a little something about your skills and expertise"},

        {image:"/assets/img/web-design.png", alt:"skill image", title:"Web Design", des:"Tell the world a little something about your skills and expertise"},

        {image:"/assets/img/branding.png", alt:"skill image", title:"Branding", des:"Tell the world a little something about your skills and expertise"},

        {image:"/assets/img/ecommerce.png", alt:"skill image", title:"Ecommerce", des:"Tell the world a little something about your skills and expertise"},

        {image:"/assets/img/social-media.png", alt:"skill image", title:"Social Media", des:"Tell the world a little something about your skills and expertise"},

        {image:"/assets/img/graphic-design.png", alt:"skill image", title:"Graphic Design", des:"Tell the world a little something about your skills and expertise"},

    ]
-
    var eduList = [
        {image:"/assets/img/phd.png",alt:"edu image", title:"Computer Science, PhD",des:"2018 - Present",sub:"Tell the world a little something about your commercial experience and companies you've worked for"},
        {image:"/assets/img/director.png",alt:"edu image", title:"Creative Director",des:"2018 - Present",sub:"Tell the world a little something about your commercial experience and companies you've worked for"},
        {image:"/assets/img/msc.png",alt:"edu image", title:
        "Digital Development, MSc",des:"2017 - 2018",sub:"Tell the world a little something about your commercial experience and companies you've worked for"},
        {image:"/assets/img/technical-support.png",alt:"edu image", title:"Technical Support",des:"2015 - 2018",sub:"Tell the world a little something about your commercial experience and companies you've worked for"},
        {image:"/assets/img/bsc.png",alt:"edu image", title:"Creative Technologies, BSc",des:"2015 - 2018",sub:"Tell the world a little something about your commercial experience and companies you've worked for"},
        {image:"/assets/img/assistant.png",alt:"edu image", title:"Web Design Assistant",des:"2014 - 2015",sub:"Tell the world a little something about your commercial experience and companies you've worked for"},
    ]
- 
    var menuList =[
        {name:"ALL",id:"pills-home-tab",href:"#pills-home",ariaCtrl:"pills-home", isActive:true },
        {name:"WEB",id:"pills-web-tab",href:"#pills-web",ariaCtrl:"pills-web"},
        {name:"PRINT",id:"pills-print-tab",href:"#pills-print",ariaCtrl:"pills-print"},
        {name:"CODE",id:"pills-code-tab",href:"#pills-code",ariaCtrl:"pills-code"},
        {name:"ART",id:"pills-art-tab",href:"#pills-art",ariaCtrl:"pills-art"},
    ]

-
    var allList =[
        {image:"/assets/img/1.jpg",alt:"image feature"},
        {image:"/assets/img/2.jpg",alt:"image feature"},
        {image:"/assets/img/3.jpg",alt:"image feature"},
        {image:"/assets/img/4.jpg",alt:"image feature"},
        {image:"/assets/img/5.jpg",alt:"image feature"},
        {image:"/assets/img/6.jpg",alt:"image feature"},
    ]
-
    var webList =[
        {image:"/assets/img/1.jpg",alt:"image feature"},
        {image:"/assets/img/2.jpg",alt:"image feature"},
        {image:"/assets/img/3.jpg",alt:"image feature"},
    ]
-
    var printList =[
        {image:"/assets/img/1.jpg",alt:"image feature"},
        {image:"/assets/img/4.jpg",alt:"image feature"},
        {image:"/assets/img/5.jpg",alt:"image feature"},
          
    ]
-
    var codeList =[
        {image:"/assets/img/2.jpg",alt:"image feature"},
        {image:"/assets/img/4.jpg",alt:"image feature"},
        {image:"/assets/img/6.jpg",alt:"image feature"},
       
    ]
-
    var artList =[
        {image:"/assets/img/3.jpg",alt:"image feature"},
        {image:"/assets/img/5.jpg",alt:"image feature"},
        {image:"/assets/img/6.jpg",alt:"image feature"},
    ]
-   
    var priceCard = [
        {price:"$29",dram:"Hour",title:"Hourly", des:"Simple Projects",sub:"Hire me for projects that can be done within a few hours", color:"orange"},
        {price:"$199",dram:"Day",title:"Daily", des:"Simple Projects",sub:"Hire me for projects that can be done within a few hours", color:"red"},
        {price:"$899",dram:"Weekly",title:"Weekly", des:"Simple Projects",sub:"Hire me for projects that can be done within a few hours", color:"purple"}
    ]

      