-
    var menuNav = ["About", "Skills", "Experience", "Work", "Pricing", "Reviews", "Blog", "Contact"]
-
    var iconBanner = [
        "fab fa-2x fa-twitter", 
        "fab fa-2x fa-facebook-f", 
        "fab fa-2x fa-instagram", 
        "fab fa-2x fa-pinterest-p"]
-
    var countList = [
        {image:"/assets/img/projects.png",alt:"count image", title:"4,154+", sub:"Projects Done", color:"text--purple"},
        {image:"/assets/img/total.png",alt:"count image", title:"2,072", sub:"Total Clients",color:"text--orange"},
        {image:"/assets/img/repeat.png",alt:"count image", title:"1,281+", sub:"Repeat Clients",color:"text--red"},
        {image:"/assets/img/awards.png",alt:"count image", title:"357", sub:"Awards Won",color:"text--yellow"}
    ]
-
    var skillList = [

        {image:"/assets/img/ux.png", alt:"skill image", title:"UI/UX Design", sub:"Tell the world a little something about your skills and expertise"},

        {image:"/assets/img/web-design.png", alt:"skill image", title:"Web Design", sub:"Tell the world a little something about your skills and expertise"},

        {image:"/assets/img/branding.png", alt:"skill image", title:"Branding", sub:"Tell the world a little something about your skills and expertise"},

        {image:"/assets/img/ecommerce.png", alt:"skill image", title:"Ecommerce", sub:"Tell the world a little something about your skills and expertise"},

        {image:"/assets/img/social-media.png", alt:"skill image", title:"Social Media", sub:"Tell the world a little something about your skills and expertise"},

        {image:"/assets/img/graphic-design.png", alt:"skill image", title:"Graphic Design", sub:"Tell the world a little something about your skills and expertise"},

    ]
