
@mixin btn($bgColor, $bdColor,$textTranform) {
    padding: 10px 30px;
    border-radius: 30px;
    color: $color-white;
    background:$bgColor;
    border:1px solid $bdColor;
    text-transform: $textTranform;

    &:hover{
        cursor: pointer;
        box-shadow: 0 7px 16px $color-shadow;
    }
}

@mixin btnLink($margin, $bgColor, $bdColor, $textTranform, $colorText, $fsText){
    .btn {
        margin:$margin;
        .btn--link{
            @include btn($bgColor,$bdColor,$textTranform);
            @include textStyle($colorText,$fsText);
           
        }
        &:hover{
            animation:pulse 0.5s ease-in-out;
        }
    }
}


@mixin textStyle($colorText, $fontSize){
    color: $colorText;
    font-size:$fontSize;   
}


@mixin cardCustom($titleSize,$colorTitle,$fwTitle,$desSize,$desColor,$fwDes, $subSize, $subColor,$fwSub){
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    border: none;

    &__title{
        
        color: $colorTitle;
        font-size:$titleSize;
        font-weight: $fwTitle;
    }

    &__des{
        color: $desColor;
        font-size:$desSize;
        font-weight: $fwDes;
    }

    &__sub{
        color: $subColor;
        font-size:$subSize;
        font-weight: $fwSub;
    }

}

@mixin cardImg {
    img{
        height:80px;
        width:80px;        
    }
}

@mixin colorCard($color,$bdColor){
    .cardText__head{
        background-color:$color;
    }

    .cardText__title{
        @include textStyle($color,30px);
    }
    
    @include btnLink(15px, $color, $bdColor, none, $color-white, 18px);
}







