// color
$color-red:#FF2E59;
$color-white:#ffffff;
$color-dark:#000000;
$color-purple:#943FE4;
$color-yellow:#FBBD41;
$color-gray-opacity:rgba(0,0,0,.8);
$color-orange: #FB6B45;
$color-gray:#707070;
//font-size

