extend ../base/base.pug

block content 

    include ../component/banner.pug
    
    include ../component/count.pug

    include ../component/skill.pug

    include ../component/experience.pug

    include ../component/feature.pug

    include ../component/price.pug

    

