.banner {
    background-image:url("/assets/img/bg_banner.png");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    
    img{
        width:178px;
        height:auto;
    }

    &__container {
        
        display:flex;
        align-items: flex-end;
        justify-content:center
    }

    h2{
        @include textStyle($color-dark,50px);

        @include respond-to('xs'){

            @include textStyle($color-dark,30px);

        }
    }

    &__title {

        @include textStyle($color-gray,20px);

        @include respond-to('xs'){

            @include textStyle($color-gray,15px);

        }
    }
    
    &__sub{
        padding: 25px 20px;
        box-shadow: 0px 7px 16px $color-shadow;
        background-color: #fff;
        border-radius: 25px;

        @include textStyle($color-gray,18px);

        @include respond-to('xs'){

            @include textStyle($color-gray,16px);

        }
    }

    .social__link{
        padding: 15px;
        border-radius: 5px;

        &:hover{
            color: $color-red;
            cursor: pointer;
            box-shadow: 1px 3px 4px $color-shadow;
        }
    } 

   @include btnLink(50px, $color-red, $color-red, uppercase, $color-white, 20px  )
    
   
}

  
