.count {
    padding-top: 40px;
    

    .customCard {
        @include cardCustom(48px, none , 400, 16px, $color-gray, 700)

        .text--purple{
            color:$color-purple;
        }

        .text--orange{
            color:$color-orange;
        }

        .text--red{
            color:$color-red;
        }

        .text--yellow{
            color:$color-yellow;
        }
    }
}