.skills{

    &__cap{
        margin: 40px 0;
    }

    .customCard{
        flex-direction: column;
        @include cardCustom(20px, $color-dark, 700, 14px , $color-gray, 400, none, none, none);

        &__title {
            font-family: 'Quicksand', sans-serif;
        }

        &__title:hover {
            color: $color-red;
        }

        &:hover{
            cursor: pointer;   
        }
        
    }

    &__sub{
        @include textStyle($color-orange,18px)
    }

    @include btnLink(20px, $color-red,$color-red, uppercase, $color-white, 20px)

    
}